@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;

  --primary: 14 165 233; /* sky-500 (rgb) */
  --primary-foreground: 255 255 255;

  --muted: 243 244 246;
  --muted-foreground: 113 113 122;

  --border: 226 232 240;
  --input: 226 232 240;
  --ring: 14 165 233;
}

.dark {
  --background: 15 23 42;
  --foreground: 255 255 255;

  --primary: 14 165 233;
  --primary-foreground: 255 255 255;

  --muted: 51 65 85;
  --muted-foreground: 203 213 225;

  --border: 51 65 85;
  --input: 51 65 85;
  --ring: 14 165 233;
}
